<div class="section center z-depth-3">
	<h5>Etats des Sauvegardes</h5>
</div><br/>

<div class="container">
	<div class="z-depth-1" name="table">
		<table>
			<thead class="z-depth-2">
				<tr>
				{% if Saves is defined %}
					{% for save in Saves %}
						<td>
							{{ [save.day, save.month, 'now'|date('Y')]|join('-')|date('l')|trans }} {{ save.day }}
						</td>
					{% endfor %}
				{% endif %}
				</tr>
			</thead>

			<tbody>
				<tr>
					{% if Saves is defined %}
						{% for save in Saves %}
							<td>
								{% set Etat = save.displayState %}
								{{ include("AthenaIhmBundle:Other:dropdown-state.html.twig") }}
							</td>
						{% endfor %}
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
